.navbar-brand {
	padding:0;
	height:70px;
}
.navbar-brand img {
	height:70px;
}

.dropdown-menu {
	background-color: #111111;
}

.dropdown-menu li a {
	color: #fff;
}

.dropdown-menu li a:hover {
    background: gray;
}

@media (min-width: 1200px) {
    nav{
        max-width: 970px;
        margin: auto;
    }
}

#joinbutton:hover {
	background-color: #ec971f;
}

body{
	background-color: #1D2627;
	color:#fff;
}

#home .main h2 {
    padding-top: 35px;
    line-height: 1.5;
}

#home .main h2 a {
    text-decoration: none;
    color: #ddd;
}
#home .main h3 {
	padding-bottom: 50px;
}

#whatpirates button {
		margin-top: 5px;
}

@media screen and (max-width: 478px) {
    #whatpirates button {
      width: 175px !important;
    }
}

#home .recent, #statement .note {
	max-width: 970px;
	color: #ddd;
	background: #112222;
  line-height: 1.5;
	padding: 10px;
	border: solid 1px #080808;
	border-radius: 5px;
	margin: 25px auto 10px;
}

#quotes {
	background-color: #112222;
	padding: 30px 0 30px;
}

#links {
	background-color: #121212;
	padding: 50px 0 50px;
}

#links ul {
	padding-bottom: 20px;
}

#whatpirates {
	padding:50px 0 50px;
}

@media (min-width: 768px) {
	#links {
		display: flex;
	}
}

#statements, #discussions {
	border: 1px solid white;
	border-radius: 5px;
	background-color: #1D3637;
}

.space {
	padding-top:50px;
}

#quotes blockquote {
	border-left: none;
}

#joinbutton{
	color:#fff;
}

#constitution iframe {
	width:100%;
	height:500px;
}
@media  (min-width: 600px) {
  #constitution iframe {
	  width:75%;
	  height:500px;
    padding-left: 25%;
  }
}
@media screen and (min-width: 600px) {
	.sticky-container {
    padding: 0px;
    margin: 0px;
    position: fixed;
    right: -119px;
    top: 25vh;
    width: 200px;
    z-index: 10;
	}

	.sticky li {
    list-style-type: none;
    background-color: #333;
    color: #efefef;
    height: 43px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
	}

	.sticky li:hover {
    margin-left: -90px;
	}

	.sticky li a {
    text-decoration: none;
    color: #ddd;
	}

	.sticky li a img {
    float: left;
    margin: 5px 5px;
    margin-right: 10px;
	}

	.sticky li a p {
    padding: 0;
    margin: 0;
    line-height: 43px;
    font-size: 14px;
	}

	.mobile-sticky-container {
    display: none;
	}
}

#sitefooter .featured {
  background: #112222;
  padding-bottom: 20px;
  margin-top: 30px;
}

#sitefooter .featured h4 {
  padding: 20px 0 5px;
  color: #ccc;
}

#sitefooter .featured a {
  text-decoration: none;
  color: #ddd;
}

#sitefooter .featured img {
  height: 32px;
  width: auto;
  margin: 20px auto;
}

#sitefooter .featured h6 {
  margin-top: -12px;
}

#sitefooter .improve {
  padding: 30px;
  background-color: #234345;
}

#sitefooter .improve img {
  width: 24px;
  height: 24px;
  margin-top: -4px;
}

@media screen and (max-width: 599px) {
	#sitefooter {
		padding-bottom: 50px;
	}

  .sticky-container {
    display: none;
  }

  .mobile-sticky-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
  }

  .mobile-sticky {
    width: 100%;
  }

  .mobile-sticky tr {
    text-align: center;
  }

  .sticky-bg {
    background: #333;
  }

  .mobile-sticky tr td a {
    text-decoration: none;
    color: #ddd;
  }

  .mobile-sticky tr td a img {
    margin: 10px 0;
  }

  .social-text {
    padding: 8px;
  }

  .table-2 {
    margin-top: -10px;
  }
}

@media (min-width: 1200px) {
	.page {
		max-width: 960px;
		margin: auto;
	}
}

.page {
	font-size: large;
	margin-bottom: 50px;
}

.page h2 {
  margin-top: 50px;
}

.page h3 {
	margin: 50px 0 30px;
}

.page h4 {
	margin: 25px 0 15px;
}

.page .content {
  margin: 50px 0;
}

.page .citations {
	list-style: none;
}

.chatroom {
    margin-top: 0;
}

.chatroom h2 {
    margin-top: 0 !important;
}

.chatroom p {
	margin-top: 30px;
}

@media screen and (min-width: 600px) {
	.page {
		padding-right: 50px;
    }
}

@media screen and (max-width: 767px) {
  .page .candidates div:not(:first-child) {
    margin-top: 50px;
  }
}

#template h1 {
	margin: 120px auto;
	text-align: center;
}
